/* NavBar.css */

/* Navbar background color in the blue sector */
.navbar {
  background-color: #007bff;
}

/* Remove list style */
.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Nav item link styles */
.nav-link {
  color: white;
  text-decoration: none;
}

/* Ensure links do not change color after being clicked */
.nav-link:visited {
  color: white;
}

/* Additional styling for responsive behavior */
.navbar-nav .nav-item {
  margin-left: 1rem;
}

/* For Boxicon inside the nav-item */
.nav-link .box-icon {
  display: flex;
  align-items: center;
}
.foot{
  background-color: rgba(18,172,233,0.3);
  margin-left: 5rem;
}
